.addressItem{
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    .isChooseAddress{
        position: absolute;
        top: 5%;
        left: 0;
        height: 90%;
        width: 6px;
        background: #108ee9;
    }
    .addressMsg{
        position: absolute;
        left: 15px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        width: auto;
        height: auto;
        display: flex;
        .concatName{
            width: 4em;
            height: 33.333%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ff9500;
        }
        .addressDetail{
            flex: 1 1;
            .concatPhone{
                height: 33.333%;
                display: flex;
                align-items: center;
            }
            .concatAddress{
                height: 33.333%;
                display: flex;
                align-items: center;
            }
        }
        .deleteAddress{
            width: 40px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 55%;
            }
        }
    }
}
.am-modal-mask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,.4);
}
.am-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    outline: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(1px);
    .am-modal{
        position: relative;
    }
    .am-modal-transparent{
        width: 270px;
        .am-modal-content{
            border-radius: 7px;
            padding-top: 15px;
            position: relative;
            background-color: #fff;
            border: 0;
            background-clip: padding-box;
            text-align: center;
            height: 100%;
            overflow: hidden;
            .am-modal-header{
                padding: 6px 15px 15px;
                .am-modal-title{
                    margin: 0;
                    font-size: 18px;
                    line-height: 1;
                    color: #000;
                    text-align: center;
                }
            }
            .am-modal-body{
                padding: 0 15px 15px;
                font-size: 15px;
                color: #888;
                height: 100%;
                line-height: 1.5;
                overflow: auto;
                .am-modal-alert-content{
                    zoom: 1;
                    overflow: hidden;
                }
            }
            .am-modal-footer{
                .am-modal-button-group-h{
                    border-top: none;
                    position: relative;
                    display: flex;
                    border-top: 1px solid #ccc;
                    .am-modal-button{
                        flex: 1 1;
                        box-sizing: border-box;
                        text-align: center;
                        text-decoration: none;
                        outline: none;
                        font-size: 18px;
                        height: 50px;
                        line-height: 50px;
                        display: block;
                        width: auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border:none;
                        background:#eee;
                    }
                    .aa{
                        color: #108ee9;
                        border-left: 1px solid #ccc;
                    }
                }
            }
        }
    }
}